<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
  <connectionStrings>
    <!--add name="Server=CRM Online,organization=buckstest, user=c-vinnj@bucks.ac.uk" connectionString="Url=https://tridentbapps.crm11.dynamics.com; Username=vj@tridentbapps.onmicrosoft.com; Password=Crm*2017;authtype=Office365" /-->
    <add name="Server=Debeers,organization=org3b54fb73, user=IIDV_Cases_ServiceAcount@AngloAmerican.onmicrosoft.com" connectionString="Url=https://iidv-uat.crm.dynamics.com; Username=IIDV_Cases_ServiceAcount@AngloAmerican.onmicrosoft.com; Password=5E4Qs!HBDtx3V!b; authtype=Office365" />
  </connectionStrings>
</configuration>