<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <connectionStrings>
    <add name="Server=CRM Online,organization=buckstest, user=c-vinnj@bucks.ac.uk" connectionString="Url=https://buckstest.crm4.dynamics.com; Username=c-vinnj@bucks.ac.uk; Password=Arch&amp;05012013; authtype=Office365" />
  </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
</configuration>